<%= simple_form_for [@user, @profile] do |f| %>
  <%= f.input :short_pitch, :label => "Write a short blurb about yourself.", placeholder: "140 Characters" %>
  <%= f.input :long_pitch, :label => "Write a professional bio about yourself.", placeholder: "500 Characters" %>
  <hr>
  <p>Are you available for hire? <%= f.check_box :available, as: :boolean, checked_value: true, unchecked_value: false %></p>
  <hr>
  <p>Choose Your Profile Picture</p>
  <%= f.file_field :avatar %>
  <%= f.previewbox :avatar %>
  <%= f.cropbox :avatar %>
  <hr>
  <p>Attatch your Resume</p>
  <%= f.file_field :resume %>
  <br>
  <%= f.submit "Update", :class => "btn btn-default" %>
<% end %>
