<% @users.each do |user| %>
  <div id="user" class="col-md-3 text-center search-users">
    <div id="user-image">
      <%= link_to image_tag(ref="user.png", :class => "img-circle", :style => "width: 200px"), user_path(user) %><br>
      <%#= image_tag(user.avatar.url(:large)) %>
    </div>
    <h4><%= link_to user.full_name, user_path(user) %></h4>
    <%= "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua." %>
    <% user.profile.skills.each do |skill| %>
    <div>
      <span style="display: none;"><%= skill.title %></span> 
    </div>
    <% end %>
    <%#= user.profile.short_pitch %>
    <br>
    <a href="/users/<%= user.id %>"><button class="btn btn-primary">View Profile</button></a>
  </div>
<% end %>
