<!DOCTYPE html>
<html lang="en">
<head>

  <title>Student Profile</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>

  <div class="container">
    <div class="avatar" style="">
      <%#= image_tag @user.profile.avatar %>
    </div>
    <div class="name-pitch">
      <h2><%= @user.full_name %></h2>
      <p><%= @user %></p>
    </div>

    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#skill">Skills</a></li>
      <li><a data-toggle="tab" href="#project">Projects</a></li>
      <li><a data-toggle="tab" href="#education">Education</a></li>
      <li><a data-toggle="tab" href="#experience">Experience</a></li>
    </ul>

    <div class="tab-content">
      <div id="skill" class="tab-pane fade in active">
        <% @skills.each do |skill| %>
        <%= link_to skill.title,skill_path(skill) %>
        <hr>
        <% end %>
        <% if user_signed_in? %>
        <br>
        <%= link_to "Add", new_skill_path %>
        <% end %>
      </div>

      <div id="project" class="tab-pane fade">
        <% @projects.each do |project| %>
        <%= link_to project.title,project_path(skill) %>
        <hr>
        <% end %>
        <% if user_signed_in? %>
        <br>
        <%= link_to "Add", new_project_path %>
        <% end %>
      </div>
      <div id="education" class="tab-pane fade">
        <% @educations.each do |education| %>
        <%= link_to education.school,education_path(education) %>
        <hr>
        <% end %>
        <% if user_signed_in? %>
        <br>
        <%= link_to "Add", new_education_path %>
        <% end %>
      </div>
      <div id="experience" class="tab-pane fade">
        <% @experiences.each do |experience| %>
        <%= link_to experience.title,experience_path(experience) %>
        <hr>
        <% end %>
        <% if user_signed_in? %>
        <br>
        <%= link_to "Add", experiences_path %>
        <% end %>
      </div>
    </div>
  </div>


</body>
</html>
