<div class="container">
  <div class="row profile-header">
    <div class="avatar col-md-3">
      <%#= image_tag @user.profile.avatar %>
    </div>
    <div class="name-pitch col-md-9">
      <h2><%= @user.full_name %></h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <%= link_to "Contact " + @user.first_name.titleize, contact_path(@user)%>
    </div>
  </div>
<div class="row">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#skill">Skills</a></li>
    <li><a data-toggle="tab" href="#project">Projects</a></li>
    <li><a data-toggle="tab" href="#education">Education</a></li>
    <li><a data-toggle="tab" href="#experience">Experience</a></li>
  </ul>

  <div class="tab-content">
    <div id="skill" class="tab-pane fade in active">
      <% @skills.each do |skill| %>
        <%= render "skills/skill", skill: skill, profile: @profile %>
      <% end %>
    </div>
    <div id="project" class="tab-pane fade">
      <% @projects.each do |project| %>
      <%= render "projects/project", project: project, profile: @profile %>
      <% end %>
    </div>
    <div id="education" class="tab-pane fade">
      <% @educations.each do |education| %>
      <%= render "educations/education", education: education, profile: @profile %>
      <% end %>
    </div>
    <div id="experience" class="tab-pane fade">
      <% @experiences.each do |experience| %>
      <%= render "experiences/experience", experience: experience, profile: @profile %>
      <hr />
      <% end %>
    </div>
  </div>
</div>
