<div class="container">
  <div class="row profile-header">
    <div class="avatar col-md-3">
      <%#= image_tag @user.profile.avatar %>
    </div>
    <div class="name-pitch col-md-9">
      <h2><%= @user.full_name %></h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#contactModal">
    Contact <%= @user.first_name.titleize %>
    </button>
      <div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Contact Form</h4>
            </div>
            <div class="modal-body">
              <%= render partial: "/profiles/form", locals: {profile: @user.profile}%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="avatar" style="">
    <%#= image_tag @user.profile.avatar %>
  </div>
  <div class="name-pitch">
    <h2><%= @user.full_name %></h2>
    <!-- Modal -->
    <%= link_to "Contact " + @user.first_name.titleize, contact_path(@user)%>
  </div>
  <br>
  <br>
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#basicinfo">Basic Information</a></li>
    <li id="skill-tab" data-userid="<%= @user.id %>" data-profileid="<%= @user.profile.id %>"><a data-toggle="tab" href="#skill">Skills</a></li>
    <li><a data-toggle="tab" href="#project">Projects</a></li>
    <li><a data-toggle="tab" href="#education">Education</a></li>
    <li><a data-toggle="tab" href="#experience">Experience</a></li>
  </ul>

  <div class="tab-content">
    <div id="skill" class="tab-pane fade in active">
      <% @skills.each do |skill| %>
        <%= render "skills/skill", skill: skill, profile: @profile %>
      <% end %>
    </div>
    <div id="project" class="tab-pane fade">
      <% @projects.each do |project| %>
      <%= render "projects/project", project: project, profile: @profile %>
      <% end %>
    </div>
    <div id="education" class="tab-pane fade">
      <% @educations.each do |education| %>
      <%= render "educations/education", education: education, profile: @profile %>
      <% end %>
    </div>
    <div id="experience" class="tab-pane fade">
      <% @experiences.each do |experience| %>
      <%= render "experiences/experience", experience: experience, profile: @profile %>
      <hr />
      <% end %>


  <div class="tab-content">
    <div id="basicinfo" class="tab-pane fade in active">
    </div>
    <div id="skill" class="tab-pane fade">
      <br>
      <div id="progress-bar">
          <% @user.profile.skills.each do |skill| %>
          <div id="omg">
            <p><%= skill.title %>: &nbsp; </p>
            <div id="<%= dom_id(skill) %>" class="progressBarElement tiny-green" data-skill-rating="<%= skill.rating %>">
            </div>
          </div>
            <br>
          <% end %>
      </div>
    </div>
    <div id="project" class="tab-pane fade">
      <% @projects.each do |project| %>
      <%= link_to project.title,project_path(skill) %>
      <hr>
      <% end %>
    </div>
    <div id="education" class="tab-pane fade">
      <% @educations.each do |education| %>
      <%= link_to education.school,education_path(education) %>
      <hr>
      <% end %>
    </div>
    <div id="experience" class="tab-pane fade">
      <% @experiences.each do |experience| %>
      <%= link_to experience.title,experience_path(experience) %>
      <hr>
      <% end %>
    </div>
  </div>
</div>

<!-- <script>
progressBar(75, $('#progressBar'));
</script> -->
