  <div class="container">
    <div class="avatar" style="">
      <%#= image_tag @user.profile.avatar %>
    </div>
    <div class="name-pitch">
      <h2><%= @user.full_name %></h2>
      <!-- Modal -->
      <%= link_to "Contact " + @user.first_name.titleize, contact_path(@user)%>
    </div>

    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#skill">Skills</a></li>
      <li><a data-toggle="tab" href="#project">Projects</a></li>
      <li><a data-toggle="tab" href="#education">Education</a></li>
      <li><a data-toggle="tab" href="#experience">Experience</a></li>
    </ul>

    <div class="tab-content">
      <div id="skill" class="tab-pane fade in active">
        <% @skills.each do |skill| %>
        <%= link_to skill.title,skill_path(skill) %>
        <hr>
        <% end %>
      </div>

      <div id="project" class="tab-pane fade">
        <% @projects.each do |project| %>
        <%= link_to project.title,project_path(skill) %>
        <hr>
        <% end %>
      </div>
      <div id="education" class="tab-pane fade">
        <% @educations.each do |education| %>
        <%= link_to education.school,education_path(education) %>
        <hr>
        <% end %>
      </div>
      <div id="experience" class="tab-pane fade">
        <% @experiences.each do |experience| %>
        <%= link_to experience.title,experience_path(experience) %>
        <hr>
        <% end %>

      </div>
    </div>
  </div>
</div>
