<% skills.each do |skill| %>
  <div>
  <h3>title: <%= skill.title %></h3>
  <h3>ratings: <%= skill.rating %></h3>
   <a class='edit-link' data-id='<%= skill.id %>', data-user='<%= @user.id %>', data-profile='<%= @profile.id %>' data-type='skill'  href="#">Edit</a>
    <a class='delete-link' data-id='<%= skill.id %>', data-user='<%= @user.id %>', data-profile='<%= @profile.id %>' data-type="skill" href="#">Delete</a>
    <hr>
  </div>

<% end %>
