
<% projects.each do |project| %>
  <h3>title: <%= project.title %></h3>
  <h3>description: <%= project.description %></h3>
  <h3>web_app_link: <%= project.web_app_link %></h3>
  <h3>github_link: <%= project.github_link %></h3>
  <%= image_tag project.logo.url(:medium) %>
  <p>Tags: <%= project.project_tags.map {|t| t.title.capitalize }.join(", ") %></p>
   <a href="#">Edit</a>
   <a href="#">Delete</a>
   <hr>
<% end %>
