<% educations.each do |education| %>
  <div> 
    <h3>school: <%= education.school %></h3>
    <h3>description: <%= education.description %></h3>
    <h3>School Web: <%= education.link %></h3>
    <%= image_tag education.logo.url(:medium) %>

    <a class='edit-link' data-id='<%= education.id %>', data-user='<%= @user.id %>', data-profile='<%= @profile.id %>' data-type='educatuion'  href="#">Edit</a>
    <a class='delete-link' data-id='<%= education.id %>', data-user='<%= @user.id %>', data-profile='<%= @profile.id %>' data-type="education" href="#">Delete</a>
    <hr>
  </div>
<% end %>
