<div class="show">
  <h4><p><%= image_tag education.logo.url(:thumb) %>&nbsp;<%= education.school %></p></h4>
    <div>
   <p>Start Date: <%= education.start_date %>&nbsp;to
   <% if education.current? %>
     Present
   <% else %>
     <%= education.end_date %>
   <% end %>
   </p>
   </div>
  <p>Summary: <%= education.description %></p>
  <p>Links: <a><%= education.link %></a> </p>

  <hr />
</div>
