<%#= @education.errors.full_messages.join(", ") %>
<%= simple_form_for [@user, @profile, @education] do |f| %>
<%= f.input :school, placeholder: "Please enter your school information", input_html: {class:"my-school"}  %>
<br>
<%= f.input :start_date %>
<br>
<%= f.input :end_date, {include_blank: true, default: nil} %>
<br>
<%= f.label :current %>
<%= f.check_box :current, as: :boolean, checked_value: true, unchecked_value: false %>
<%= f.input :description, placeholder: "Is there anything you want to add regarding your school experience?", input_html: {class:"my-description"} %>
<br>
<div style="font-weight:bold;">Logo </div><%= f.file_field :logo %>
<br>
<%= f.input :link, placeholder: "Related links", input_html: {class:"my-link"}  %>
<br>
<%= f.button :submit, class: "btn btn-primary" %>
<% end %>
