<!DOCTYPE html>
<html>
<head>
  <title>StudentProfile</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <script>
  $(document).ready(function(){
    '<%# if current_page?(controller: 'users', action: 'index') %>'
    '<%# @users = User.order('first_name ASC') %>'
    '<%# else %>'
    '<%# @users = User.where('available' = true) %>'
    '<%# end %>'
      $('#search-form').bind("keyup", function(){
      $('.render').html("<%= j render :partial => 'users/users', :object => @users = User.order('first_name ASC') %>");
      var searchTerm = $(this).val().toLowerCase();
      var students = $('.search-users');
      students.hide();
      students.filter(function(){
        var regexp = new RegExp('\.*' + searchTerm + '\.*', "gi");
        return regexp.test(($(this)).html())
      }).show();
    });

  });
  </script>
</head>
<body>
  <div class="container">
    <%= render "/layouts/navbar" %>
    <!-- Static navbar -->
   <% if flash[:notice] %>
    <div id="flash-notice"><%= flash[:notice] %></div>
    <% elsif flash[:alert] %>
    <div id="flash-alert"><%= flash[:alert] %></div>
    <% end %>
  </div>

  <%= yield %>

</body>
</html>
