<!DOCTYPE html>
<html>
<head>
  <title>StudentProfile</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="navbar-header">
            <a class="navbar-brand" href="#">
              <%= image_tag("codecore.jpeg", class: "navbar-logo") %>
              <!-- <img src="codecore.jpeg", alt="Brand"> -->
            </a>
          </div>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to "Available Students" %></li>
            <li><%= link_to "All Students", users_path %></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
            <li class="user-name"><%= link_to current_user.full_name, user_path(current_user) %></li>
            <li><%= link_to "Sign Out", sessions_path, method: :delete, data: {confirm: "Are you sure you want to sign out?"} %></li>
            <% else %>
            <li><%= link_to "Sign In", new_session_path %></li>
            <li><%= link_to "Sign Up", new_user_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
    <% if flash[:notice] %>
    <div id="flash-notice"><%= flash[:notice] %></div>
    <% elsif flash[:alert] %>
    <div id="flash-alert"><%= flash[:alert] %></div>
    <% end %>
  </div>

  <%= yield %>

</body>
</html>
