<!DOCTYPE html>
<html>
<head>
  <title>StudentProfile</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <script>
  $(document).ready(function(){
    '<%# if current_page?(controller: 'users', action: 'index') %>'
    '<%# @users = User.order('first_name ASC') %>'
    '<%# else %>'
    '<%# @users = User.where('available' = true) %>'
    '<%# end %>'
    // $(".nav-bar").bind("#search-form", "keyup", function(){
    $('#search-form').bind("keyup", function(){
    $('.render').html("<%= j render :partial => 'users/users', :object => @users = User.order('first_name ASC') %>");
    var searchTerm = $(this).val().toLowerCase();
    var students = $('.search-users');
    students.hide();
    students.filter(function(){
      var regexp = new RegExp('\.*' + searchTerm + '\.*', "gi");
      return regexp.test(($(this)).html())
    }).show();
  });

  });
  </script>
</head>
<body>
  <div class="container">
    <%= render "/layouts/navbar" %>
    <!-- Static navbar -->
    <% if flash[:notice] %>
    <div id="flash-notice"><%= flash[:notice] %></div>
    <% elsif flash[:alert] %>
    <div id="flash-alert"><%= flash[:alert] %></div>
    <% end %>
  </div>

  <%= yield %>
  <br>
  <br>
  <br>

  <footer>
    <div class="row">
      <div class="col-md-4">
        <ul><%= link_to "Available Students" %></ul>
        <ul><%= link_to "All Students", users_path %></ul>
      </div>
      <div class="col-md-4">
        <ul class="list-inline social-buttons">
          <li><a href="#"><i class="fa fa-twitter fa-lg"></i></a>
          </li>
          <li><a href="#"><i class="fa fa-facebook fa-lg"></i></a>
          </li>
          <li><a href="#"><i class="fa fa-linkedin fa-lg"></i></a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="list-inline quicklinks">
          <li><a href="#">Contact CodeCore</a>
          </li>
          <li><a href="#">Privacy Policy</a>
          </li>
        </ul>
      </div>
      <div class="col-md-12">
        <span class="copyright">Copyright &copy; Your Website 2016</span>
      </div>
    </div>
</footer>

</body>
</html>
